.footer{
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #001D38;
    p{
        font-family: $font2 !important;
    }
    .footer_top{
        padding-top: 145px;
        padding-bottom: 129px;
        @media #{$mobile_device} {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .footer_widget{
            @media #{$mobile_device} {
                margin-bottom: 30px;
            }
            @media #{$tablet_device} {
                margin-bottom: 30px;
            }
            .footer_title{
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                font-family: $font2;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            .footer_logo{
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            p {

                color: #919191;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                a{
                    color: #919191;
                    &:hover{
                        color: #fff;
                    }
                }
            
            }
            p.footer_text{
                font-size: 16px;
                color: #B2B2B2;
                margin-bottom: 23px;
                font-weight: 400;
                line-height: 28px;
                a.domain{
                    color: #B2B2B2;
                    font-weight: 400;
                    &:hover{
                        color: #fff;
                        border-bottom: 1px solid #fff
                    }
                }
                &.doanar{
                    a{
                    font-weight: 500;
                    color: #B2B2B2;
                    
                    &:hover{
                        color: #fff;
                        border-bottom: 1px solid #fff
                    }
                    &.first{
                        margin-bottom: 10px;
                    }
                    }

                }
            }
            ul{
                li{
                    color: #919191;
                    font-size: 13px;
                    line-height: 42px;
                    a{
                        color: #919191;
                        font-weight: 400;
                        font-family: $font2;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            .newsletter_form{
                position: relative;
                margin-bottom: 20px;
                input{
                    width: 100%;
                    height: 50px;
                    background: transparent;
                    padding-left: 20px;
                    font-size: 15px;
                    color: #fff;
                    border: none;
                    border: 1px solid #334A60;
                    border-radius: 5px;
                    font-family: $font2;
                    &::placeholder{
                        font-size: 14px;
                        color: #919191;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 40px;
                    border: none;
                    font-size: 14px;
                    color: #fff;
                    background: #F91842;
                    padding: 10px;
                    padding: 0 22px;
                    cursor: pointer;
                    border-radius: 5px;
                    top: 5px;
                    right: 5px;
                    font-size: 13px;
                    font-weight: 500;
                    font-family: $font2;
                }
            }
            .newsletter_text{
                font-size: 13px;
                color: #919191;
                line-height: 26px;
            }
        }
    }
    .copy-right_text{
        padding-bottom: 30px;
        .copy_right{
            font-size: 15px;
            color: #919191;
            margin-bottom: 0;
            font-weight: 500;
            @media #{$mobile_device} {
                font-size: 13px;
            }
            a{
                color: #F91842;
            }
        }
    }
    .socail_links{
        margin-top: 47px;
        @media #{$mobile_device} {
            margin-top: 30px;
        }
        ul{
            li{
                display: inline-block;
                @include transition(.3s);
                a{
                    font-size: 15px;
                    width: 38px;
                    height: 38px;
                    display: inline-block;
                    text-align: center;
                    background: transparent;
                    @include border-radius(50%);
                    line-height: 40px !important;
                    margin-right: 7px;
                    color: #FFFFFF !important;
                    line-height: 40px !important;
                    background: #3B5797;
                    color: #fff;
                    @include transition(.3s);

                 
                }
                &:nth-child(2) a{
                    background: #DB4337;
                }
                &:nth-child(3) a{
                    background: #00ACED;
                } 
                &:nth-child(4) a{
                    background: #AC907A;
                }
                &:nth-child(5) a{
                    background: #000;
                }
                &:hover a{
                    color: #fff !important;
                    background: #F91842;
                    border-color: transparent;
                }
            }
        }
    }
}
